version: 2
updates:
  - package-ecosystem: "pip"
    directory: "./requirements.txt"
    schedule:
      interval: "daily"
      
  - package-ecosystem: "docker"
    directory: "/" 
    schedule:
      interval: "daily"