version: 2
updates:
  - package-ecosystem: "pip"
    directory: "/"
    schedule:
      interval: "daily"
    labels:
      - "dependabot"
      
  - package-ecosystem: "docker"
    directory: "/" 
    schedule:
      interval: "daily"
    labels:
      - "dependabot"