version: 2
updates:
  - package-ecosystem: "pip"
    directory: "/"
    schedule:
      interval: "daily"
      time: "09:00"
      timezone: "Asia/Kolkata"
    target-branch: main
    assignees:
      - "arjungoel1995@gmail.com"
    reviewers:
      - "arjungoel1995@gmail.com"
    open-pull-requests-limit: 30
    # ignore:
    #   - dependency-name: nextcord
    #   - dependency-name: python-dotenv
    commit-message:
      include: scope
      prefix: "fix (pip)"
    labels: []
    rebase-strategy: disabled
      
  - package-ecosystem: "docker"
    directory: "/" 
    schedule:
      interval: "daily"
      time: "09:00"
      timezone: "Asia/Kolkata"
    commit-message:
      include: scope
      prefix: "docker"
    labels: []
    rebase-strategy: disabled
  
  - package-ecosystem: "github-actions"
    directory: "/" 
    schedule:
      interval: "daily"
      time: "09:00"
      timezone: "Asia/Kolkata"
    commit-message:
      include: scope
      prefix: "github-actions"
    labels: []
    rebase-strategy: disabled
    reviewers:
      - dependabot
    assignees:
      - dependabot
  
  - package-ecosystem: "npm"
    directory: "/" 
    schedule:
      interval: "daily"
      time: "09:00"
      timezone: "Asia/Kolkata"
    commit-message:
      include: scope
      prefix: "npm"
    labels: []
    rebase-strategy: disabled